@use 'scss/layout/colors' as *;

.wp-block-create-block-jsonplaceholder-posts {
	padding: 0.4rem;
	border: 2px solid $black;

	.settings-page-link {
		padding: 0.4rem 0.8rem;
		border: 2px solid $dark-red;
	}
}